:root {
  --purple-dark: #482880;
  --purple-middle: #673ab7;
  --purple-light: #8561c5;
  --purple-pale: #e1cfff;
  --shadow: #888080;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  scrollbar-color: white var(--purple-dark);
  scrollbar-gutter: stable;
  background-color: var(--purple-dark);
}

body {
  margin: 0;
  background-color: white;
}

main {
  margin-top: 5rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - 5rem - 5rem);
}

a {
  color: inherit;
  text-decoration: none;
}

body:has(dialog#modal[open]) {
  overflow: hidden;
}

html:has(dialog#modal[open]) {
  animation: fade-dark 400ms ease-out forwards;
}

@keyframes fade-dark {
  from {
    background-color: var(--purple-dark);
  }
  to {
    background-color: color-mix(in srgb, var(--purple-dark), black 30%);
  }
}
