.navbarItems {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  gap: 0.6rem;
  margin-right: 1rem;
}

.navbarMobileItems {
  display: flex;
  list-style: none;
  flex-direction: column;
  row-gap: 1rem;
}

.navbarItem:hover,
.navbarItem:active {
  color: var(--purple-light);
}

.toggleVisibility {
  display: none;
}

@media (min-width: 62.5rem) {
  .toggleVisibility {
    display: block;
  }
}
