.createCommentForm {
  padding: 0.3rem;
}

.backendError {
  color: red;
}

.placeholder {
  visibility: hidden;
  height: 2.3rem;
}

@media (min-width: 23.6rem) {
  .createCommentForm {
    padding: 0 2rem 2rem 2rem;
  }
}
